#container {
  color: white;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 45px;
  font-weight: bold;
  bottom: 45%;
  display: block;
  text-align: center;
  margin-top: 15%;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #efd919;
}
#flip div:first-child div {
  background: #dc4b25;
}
#flip div:nth-child(2) div {
  background: #5fd3f3;
}
#flip div:nth-child(3) div {
  background: #0072b6;
}
#flip div:last-child div {
  background: #c50403;
}

@keyframes show {
  0% {
    margin-top: -425px;
  }
  5% {
    margin-top: -375px;
  }
  15% {
    margin-top: -375px;
  }
  25% {
    margin-top: -280px;
  }
  35% {
    margin-top: -280px;
  }
  45% {
    margin-top: -185px;
  }
  55% {
    margin-top: -185px;
  }
  65% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  85% {
    margin-top: 0px;
  }
  95% {
    margin-top: 0px;
  }
  100% {
    margin-top: 40px;
  }
}

p {

  bottom: 30px;
  font-size: 12px;
}

.makework {
  margin: 20px 0px;
}


@media only screen and (max-width: 768px) {
  #container {
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    bottom: 45%;
    display: block;
    margin-top: 70%;
  }
  @keyframes show {
    0% {
      margin-top: -425px;
    }
    5% {
      margin-top: -375px;
    }
    15% {
      margin-top: -375px;
    }
    25% {
      margin-top: -280px;
    }
    35% {
      margin-top: -280px;
    }
    45% {
      margin-top: -185px;
    }
    55% {
      margin-top: -185px;
    }
    65% {
      margin-top: -90px;
    }
    75% {
      margin-top: -90px;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 40px;
    }
  }
  
}
