.animate {
  animation-duration: 3s;
  animation-name: blend-in;
}

@keyframes blend-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
.MuiBottomNavigationAction-root {
  color: black !important;
}
.MuiBottomNavigationAction-root.Mui-selected {
  color: #fbaf00 !important;
}
