.MuiBottomNavigationAction-root {
  color: black !important;
}
.MuiBottomNavigationAction-root.Mui-selected {
  color: #fbaf00 !important;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 768px) {
}
