
.navcontainer{
  position: absolute;
  top: 89vh;
}

.navigation{
  width: 100%;
  position: sticky;
  top: 89vh;
}
.animate{
  animation-duration: 3s;
  animation-name: blend-in;
}

@keyframes blend-in {
  from {
  opacity: 0; 
  }

  to {
    opacity: 100%;
  }
}