.flippy-card {
  padding: 0;
  border-radius: 10px;
}
.flippy-card:hover {
  box-shadow: 10px 10px 36px -24px rgba(255, 255, 255, 0.2);
}
.card-img {
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 80%;
  margin-bottom: -4px;
  border-radius: 10px 0 0 10px;
  border-right: 3px solid #fbaf00;
}
.sidebar-container {
  display: grid;
  grid-template-columns: minmax(250px, 60%) 1fr;
}
.sidebar {
}
.desc-section p {
  width: 90%;
  margin-left: 10px;
  text-align: left;
  background-color: rgb(48, 44, 44);
}
.card-desc {
  position: relative;
  color: #fbaf00;
  top: 0;
  left: 20px;
  z-index: 5;
}
.project-card-back {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.project-card-back-text {
  margin: 10px;
}
@media only screen and (max-width: 767px) {
  .project-card-back-text {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin: 10px;
  }
}
