.dev-headline {
  text-align: left;
}
.team-headline {
  text-align: center;
}
.manager-headline {
  text-align: right;
}
.dev-about-me {
  text-align: left;
  width: 60%;
}
.team-about-me {
  text-align: center;
  width: 60%;
  margin: auto;
}
.manager-about-me {
  float: right;
  text-align: right;
  width: 60%;
}
.dev-block {
  margin-top: 5em;
  display: grid;
  grid-template-columns: minmax(150px, 90%) 1fr;
}
.team-block {
  margin-top: 5em;
  display: grid;
  grid-template: auto 0.8fr auto / auto 0.8fr auto;
}
.manager-block {
  margin-top: 5em;
  display: grid;
  grid-template-columns: minmax(50px, 10%) 1fr;
}
.arrow-container {
  width: 100%;
  height: 100%;
}
.arrow-container:hover > * > * {
  background-color: #fbaf00;
}
.arrow-right {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow-left {
  position: relative;
  top: 50%;
  transform: translate(-50%);
}
.line-right-1 {
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(45deg);
  transition: 500ms;
}
.line-right-2 {
  position: relative;
  top: 52px;
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(-45deg);
  transition: 500ms;
}
.line-left-1 {
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(-45deg);
  transition: 500ms;
}
.line-left-2 {
  position: relative;
  top: 52px;
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(45deg);
  transition: 500ms;
}
.slide-right {
  animation: slide-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
.slide-left {
  animation: slide-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
}
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 767px) {
  .arrow-container {
    visibility: hidden;
  }
  .dev-block {
    margin-top: 6.5em;
    display: block;
    width: 100%;
  }
  .team-block {
    display: block;
    width: 100%;
  }
  .manager-block {
    display: block;
    width: 100%;
  }
}
