.dev-headline {
  text-align: left;
}
.team-headline {
  text-align: center;
}
.manager-headline {
  text-align: right;
}
.dev-about-me {
  text-align: left;
  width: 60%;
}
.team-about-me {
  text-align: center;
  width: 60%;
  margin: auto;
}
.manager-about-me {
  float: right;
  text-align: right;
  width: 60%;
}
.dev-block {
  margin-top: 5em;
  display: grid;
  grid-template-columns: minmax(350px, 75%) 1fr;
}
.team-block {
  margin-top: 5em;
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}
.manager-block {
  margin-top: 5em;
  display: grid;
  grid-template-columns: minmax(50px, 25%) 1fr;
}
.arrow-container {
  width: 100%;
  height: 100%;
}
.arrow-container:hover > * > * {
  background-color: #fbaf00;
}
.arrow-right {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.arrow-left {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.line-right-1 {
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(45deg);
  transition: 500ms;
}
.line-right-2 {
  position: relative;
  top: 52px;
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(-45deg);
  transition: 500ms;
}
.line-left-1 {
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(-45deg);
  transition: 500ms;
}
.line-left-2 {
  position: relative;
  top: 52px;
  background-color: white;
  width: 80px;
  height: 3px;
  transform: rotate(45deg);
  transition: 500ms;
}
@media only screen and (max-width: 767px) {
  .arrow-container {
    visibility: hidden;
  }
  .dev-block {
    display: block;
    width: 100%;
  }
  .team-block {
    display: block;
    width: 100%;
  }
  .manager-block {
    display: block;
    width: 100%;
  }
}
