.home-text-block {
  margin: auto 0 auto 0;
}
.home-container {
  margin: 20px;
  min-height: 85vh;
}
.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: solid 2px white;
  width: 125px;
}
.line {
  position: relative;
  height: 2px;

  background-color: white;
  top: 75px;
  z-index: -5;
}
@media only screen and (max-width: 1024px) {
  .home-container {
    min-height: 10vh;
  }
}
@media only screen and (max-width: 768px) {
  .home-container {
    min-height: 82vh;
  }
}
