.closed {
  max-height: 0px;
  visibility: hidden;
}
.open-accordion {
  animation-name: openAcc;
  animation-duration: 0.5s;
}
.close-accordion {
  animation-name: closeAcc;
  animation-duration: 0.5s;
}
.cv-headline {
  max-width: 100%;
  display: flex;
  transition: 1s;
  cursor: pointer;
}
.cv-headline:hover {
  color: #fbaf00;
}
.cv-headline:hover .Chevron:before {
  border-top-color: #fbaf00;
}
.cv-block {
  margin-left: 40px;
}
.cv-desc {
  width: 100%;
  display: flex;
}
.cv-desc-text {
  margin-left: 0.3em;
}
.Chevron {
  position: relative;
  display: block;
  height: 14px;
}
.Chevron:before,
.Chevron:after {
  position: absolute;
  display: block;
  content: "";
  border: 7px solid transparent;
}
.Chevron:before {
  top: 0.5em;
  left: 0.5em;
  border-top-color: #fff;
  transition: 1s;
}
@keyframes openAcc {
  0% {
    max-height: 0px;
    opacity: 0;
  }
  70% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    max-height: 150px;
    opacity: 1;
  }
}
@keyframes closeAcc {
  0% {
    max-height: 150px;
    opacity: 1;
  }

  30% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    max-height: 0px;
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .cv-block {
    margin-left: 15px;
  }
}
