html {
  font-family: "Raleway", sans-serif;
  background-color: rgb(241, 238, 238);
  scroll-behavior: smooth;
  height: 100%;
  background-color: rgba(251, 175, 0, 1);
}
body {
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  color: Black;
}

p {
  font-size: 15px;
  color: black;
}
.nav {
  position: sticky;
  top: 93vh;
}
