html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  background-color: #fbaf00;
}
body {
  padding: 0;
}

h1 {
  color: Black;
}

p {
  font-size: 15px;
  color: black;
}
.button-container{
  text-align: center;
}
.nav {
  position: sticky;
  top: 93vh;
}
.progress-count {
  position: sticky;
  top: 10px;
}
.animate {
  animation-duration: 3s;
  animation-name: blend-in;
}
.animate-out {
  animation-duration: 1s;
  animation-name: blend-out;
}

@keyframes blend-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
@keyframes blend-out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}
