html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  background-color: rgb(48, 44, 44);
}
body {
  padding: 0;
  margin: auto;
}

h1 {
  color: #fbaf00;
}

p {
  font-size: 15px;
  color: white;
}

.highlight {
  color: #fbaf00;
}

.hidden {
  opacity: 0;
}
.button-container {
  margin-top: 40px;
  text-align: center;
}
.button-text {
  color: #fbaf00;
}
.progress-count {
  position: sticky;
  top: 10px;
}
.animate {
  animation-duration: 3s;
  animation-name: blend-in;
}
.animate-out {
  animation-duration: 1s;
  animation-name: blend-out;
}

@keyframes blend-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
@keyframes blend-out {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0;
  }
}
