html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  background-color: #302c2c;
}
body {
  padding: 0;
  margin: auto;
}
h1 {
  font-size: 2.5em;
  color: #fbaf00;
}
h3 {
  font-size: 1.5em;
  color: white;
}
p {
  font-size: 1em;
  color: white;
  line-height: 1.4em;
}
.highlight {
  color: #fbaf00;
}
.display-none {
  display: none;
}
.hidden {
  opacity: 0;
}
.rotate {
  transform: rotate(90deg);
}
.button-container {
  margin-top: 40px;
  text-align: center;
}
.button-text {
  color: #fbaf00;
}
.button-container {
  margin-bottom: 20px;
}
.progress-count {
  position: sticky;
  top: 10px;
}
.animate {
  animation-duration: 1s;
  animation-name: blend-in;
}
.animate-out {
  animation-duration: 1s;
  animation-name: blend-out;
}

@keyframes blend-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes blend-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.2em;
  }
  h3 {
    font-size: 1.3em;
  }
  p {
    font-size: 1em;
  }
}
