html {
  font-family: "Raleway", sans-serif;
  background-color: rgb(241, 238, 238);
  scroll-behavior: smooth;
  height: 100%;
}
body {
  overflow-x: hidden;
  padding: 0;
  max-width: 100%;
  height: 100%;
}

p {
  font-size: 15px;
}
.nav {
  position: sticky;
  top: 93vh;
}
