html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
  background-color: #fbaf00;
}
body {
  padding: 0;
}

h1 {
  color: Black;
}

p {
  font-size: 15px;
  color: black;
}
.nav {
  position: sticky;
  top: 93vh;
}
.progress-count {
  position: sticky;
  top: 10px;
}
